*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 7px 43px 0px 16px;
}

.menu__list {
  display: flex;
  gap: 30px;
  margin-top: 16px;
  color: #001e64;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.phone {
  margin-top: 11px;
}

.menu__item:hover {
  border-bottom: 1px solid #001e64;
  padding-bottom: 2px;
}

.header__content {
  background-image: url("../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -95px;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 92px;
  color: #001e64;
  max-width: 595px;
  padding-top: 150px;
  padding-left: 112px;
  margin-bottom: 70px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 60px;
  padding-bottom: 92px;
}

.header-slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  left: 35px;
  position: absolute;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-100px);
  transition: all 0.6s;
}

.header__content-btn:hover {
  color: #001e64;
  background-color: white;
}

.header__content-box {
  display: flex;
  color: white;
  justify-content: flex-end;
  transform: translateY(-50px);
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  width: 510px;
  padding-top: 41px;
  text-align: center;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-prev,
.product-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
}

.product__name-item.slick-current {
  color: #001e64;
  font-size: 36px;
  font-weight: 700;
}

.product__name-item + .product__name-item {
  margin-top: 30px;
}

.product__content {
  width: 600px;
}

.product__content-box {
  display: flex;
  justify-content: space-between;
}

.product__content-img {
  object-fit: cover;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}
.product__content-item span {
  display: block;
  margin-bottom: 10px;
  color: #001e64;
}

.product__content-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #001e64;
}

.product__content-text {
  margin-bottom: 25px;
}

.product__content-btn {
  display: inline-block;
  color: #001e64;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 12px 85px;
  background-color: transparent;
  border: 1px solid #001e64;
  border-radius: 25px;
  transition: all 0.7s;
}

.product__content-btn:hover {
  color: white;
  background-color: #001e64;
}

.seafood-box {
  background-image: url("/images/seafood-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 290px 0 95px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.seafood-box__items {
  display: flex;
  justify-content: space-around;
}

.seafood-box__item {
  width: 180px;
  min-height: 165px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("/images/shell.svg");
}

.seafood {
  padding: 100px 0;
}

.seafood__items {
  margin-bottom: 100px;
}
.seafood__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seafood__item-text--right .seafood__item-title {
  max-width: 420px;
}
.seafood__item-text--right .seafood__item-content {
  margin-right: 180px;
}
.seafood__item-content {
}
.seafood__item-title {
  max-width: 430px;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #001e64;
}
.seafood__item-text {
  max-width: 420px;
  margin-bottom: 30px;
}

.seafood__blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.seafood__blockquote-text {
  max-width: 550px;
  margin: 0 auto;
  font-size: 18px;
}

.contacts {
  background-image: url(/images/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.contacts__box {
  font-size: 18px;
  margin-left: auto;
  width: 380px;
  background-color: #fff;
  padding: 33px 0 33px 20px;
}
.contacts__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #001e64;
  margin-bottom: 30px;
}
.contacts__box-list {
}
.contacts__box-item {
  margin-top: 30px;
}

.contacts__box-item span {
  display: block;
}

.footer {
  padding: 25px 0 80px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 25px 0 43px;
}

.footer__inner .menu {
  margin-bottom: 33px;
}

.footer-social__items {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.footer-social__link path {
  transition: all 0.6s;
}

.footer-social__link:hover path {
  fill: #001e64;
}

.menu-btn {
  width: 40px;
  background-color: transparent;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  display: none;
}

.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #001e64;
}

.menu-btn::after {
  bottom: 0;
}

.menu-btn::before {
  top: 0;
}

.menu-btn span {
  display: block;
  height: 2px;
  background-color: #001e64;
}

.menu__list--active {
  top: 75px;
}

@media (max-width: 1000px) {
  .menu__list {
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: white;
    display: block;
    /* pointer-events: none; */
    top: -370px;
    transition: all 0.8s;
  }
  .menu__list.menu__list--active {
    top: 0px;
  }
  .menu__link:hover {
    border: none;
  }
  .menu-btn {
    display: block;
    z-index: 10;
  }
  .menu {
    margin: -2px 20px 0 auto;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .menu__link {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 50px;
    line-height: 65px;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .header__content-btn {
    padding: 10px 62px;
  }
  .header-slider-text {
    font-size: 16px;
  }
  .slick-dots {
    left: 5px;
  }
  .slick-arrow {
    left: 9px;
  }
  .header-slider {
    padding-left: 50px;
  }
}
